/* 
    Document   : flag
    Created on : Jul 26, 2009, 10:25:00 AM
    Author     : newtonik
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
#votebox {
    background-color:aqua;
}
.votemenu {
    width: 250px;
    height: 200px;
}
