/* 
    Document   : flag
    Created on : Jul 26, 2009, 10:25:00 AM
    Author     : newtonik
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
#votebox, #flagresponse {
    background-color: #D4E4FF;
    
   
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: black;
    border-left-color: black;
    border-bottom-color: black;
    border-top-color: black;
    margin-left: 10px;
    text-indent: 2px;
    font-family: 'Times New Roman',Times,serif;
    text-align: justify;
}
#newtagbox, #newtopicbox {
     border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: black;
    border-left-color: black;
    border-bottom-color: black;
    border-top-color: black;
}

.tagboxklass {
    width: 400px;
    height: 400px;
}
.votemenu {
    width: 300px;
    height: 250px;
}

#submitable {
    margin-left: 15px;

    text-align: left;
    text-indent: 6px;
}