/* 
Document   : site
Created on : Apr 5, 2009, 2:02:44 PM
Author     : newtonik
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
    

}
* {
 margin: 0;
 padding: 0;
}
div.nav-top {
    background-color:aqua
}

body, table, input, select
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background-color: #ffffff;
}
h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: #204060;
}
#nav-menu{

}
#nav-menu ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-menu li
{
    float: left;
    margin: 0 0.15em;
}

#nav-menu li a
{
    background: url(background.gif) #fff bottom left repeat-x;
    height: 2em;
    line-height: 2em;
    float: left;
    width: 9em;
    display: block;
    border: 0.1em solid #dcdce9;
    color: #0d2474;
    text-decoration: none;
    text-align: center;
}
.container {
    display: block;
    margin: 0 auto;
}
/* Header styles */
#header {
    clear:both;
    float:left;
    width:850px;
    display:block;
    margin-top: 1px;
    margin-left: 17%;
    margin-right: auto;
    margin-bottom: 0;
    vertical-align:baseline;
    border-bottom:1px solid #000;
    background-color: #D4E4FF;
}
#header p,
#header h1,
#header h2 {
    padding:.4em 15px 0 15px;
    margin:0;
}
#header ul {
    clear:left;
    float:left;
    
    list-style:none;
    margin:10px 0 0 0;
    padding:0;
}
#header ul li {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
}
#header ul li a {
    display:block;
    float:left;
    margin:0 0 0 1px;
    padding:3px 10px;
    text-align:center;
    background:#eee;
    color:#000;
    text-decoration:none;
    position:relative;
    left:15px;
    line-height:1.3em;
}
#header ul li a:hover {
    background:#369;
    color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
    color:#fff;
    background:#000;
    font-weight:bold;
}
#header ul li a span {
    display:block;
}
#navbar {

}
#topright {
    float:right;
    margin: 5px 0 0;
    text-align: right;
    width: 650px;
}
#tabsB {
background:#F4F4F4 none repeat scroll 0 0;
float:left;
font-size:93%;
line-height:normal;
width:100%;
}

#tabsB li {
display:inline;
margin:0;
padding:0;
}

#tabsB ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:10px 10px 0 50px;
}

#tabsB a {
background:transparent #FFFFFF no-repeat scroll left top;
float:left;
margin:0;
padding:0 0 0 4px;
text-decoration:none;
}

#tabsB a span {
float:none;
}

#tabsB a span {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#000000 no-repeat scroll right top;
color:#666666;
display:block;
float:left;
padding:5px 15px 4px 6px;
}


#logo  {
    background-color: #D4E4FF;
    display:block;
}
/* 'widths' sub menu */
/* 'widths' sub menu */
#layoutdims {
    clear:both;
    background:#eee;
    border-top:4px solid #000;
    margin:0;
    padding:6px 15px !important;
    text-align:right;
}
/* column container */
.colmask {
    position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
    width:100%;				/* width of whole page */
    overflow:hidden;		/* This chops off any overhanging divs */
}
/* holy grail 3 column settings */
.holygrail {
    background: #FFF;    	/* Right column background colour */
}
.holygrail .colmid {
    float:left;
    width:200%;
    margin-left:-200px; 	/* Width of right column */
    position:relative;
    right:100%;
    background:#fff;    	/* Centre column background colour */
}
.holygrail .colleft {
    float:left;
    width:100%;
    margin-left:-50%;
    position:relative;
    left:400px;         	/* Left column width + right column width */
    background: #FFFFFF;    	/* Left column background colour */
}
.holygrail .col1wrap {
    float:left;
    width:50%;
    position:relative;
    right:200px;        	/* Width of left column */
    padding-bottom:1em; 	/* Centre column bottom padding. Leave it out if it's zero */
}
.holygrail .col1 {
    margin:0 215px;     	/* Centre column side padding:
                            	Left padding = left column width + centre column left padding width
                            	Right padding = right column width + centre column right padding width */
    position:relative;
    left:200%;
    overflow:hidden;
    padding-bottom:25px;
}
.holygrail .col2 {
    float:left;
    float:right;			/* This overrides the float:left above */
    width:170px;        	/* Width of left column content (left column width minus left and right padding) */
    position:relative;
    right:15px;         	/* Width of the left-had side padding on the left column */
}
.holygrail .col3 {
    float:left;
    float:right;			/* This overrides the float:left above */
    width:170px;        	/* Width of right column content (right column width minus left and right padding) */
    margin-right:45px;  	/* Width of right column right-hand padding + left column left and right padding */
    position:relative;
    left:50%;
    background-color:#D4E4FF;
}

/* Footer styles */
#footer {
    clear:both;
    float:left;
    width:100%;
    border-top:1px solid #000;

}
#footer p {
    padding:10px;
    margin:0;
}

.roundedcornr_box {
    background: #ffffff;
}
.roundedcornr_top div {
    background: url(roundedcornr_849746_tl.png) no-repeat top left;
}
.roundedcornr_top{
    background: url(roundedcornr_849746_tr.png) no-repeat top right;
}
.roundedcornr_bottom div {
    background: url(roundedcornr_849746_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom d{
    background: url(roundedcornr_849746_br.png) no-repeat bottom right;
}

.roundedcornr_top div, .roundedcornr,
.roundedcornr_bottomdiv, .roundedcornr_bottom {
    width: 100%;
    height: 30px;
    font-size: 1px;
}


div.content {
    margin-right: auto;
    margin-left: auto;
    margin: 0 30px;
}
div.artcont {

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

div.main {
    width: 860px;
    margin-right: auto;
    margin-left: auto;
    padding: 35px 70px;
    padding-bottom:25px;
}
DIV.t-beaneditor
{

    display: block;
    border: 2px solid black;
    padding: 2px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    background-color: white;
    margin-left: 20px;
}
DIV.t-beaneditor LABEL
{
    width: 150px;
    display: block;
    float: left;
    text-align: right;
    clear: left;
    padding-right: 3px;
}

/* Bean Edit Stlyes */
DIV.t-beaneditor-submit {
    position: relative;
    margin-left: 60px;
}
DIV.t-error
{
    width: 600px;
    text-align: center;
}
div.t-error div {
    background-color:orange;
    font-weight:bolder;
    color: black
}
DIV.t-error LI {
    margin-left: 20px;
    color: #000000;
}
#userformtable, #atable {
    border: none; background-color: #e8eefa; margin: 20px auto; border-collapse: collapse;
}
#navbarlogintable {
    border: none; background-color: #D4E4FF; border-collapse: collapse;
}
#showquestion h1,h2, h3{

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#showquestion {

    float:left;
    margin-bottom:40px;
    width:535px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
    background-color: #fbf7f9;
}
DIV.multiple-choice-question {
    font-size:107%;
    line-height:130%;
    margin-bottom:5px;
    margin-right:5px;
    width:660px;

    margin-left: 10px;
}
DIV.questionanswer {

    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
    font-family: cursive;
}

h2 {
    color:#046380;
    font-family:Georgia,serif;
    font-size:2.0em;
}
DIV.author-date {
    font-size:0.8em;
    font-weight:normal;
    margin-top:3em;
    margin-left:10px;
}
DIV.author {
    color:teal;
    font-size:1.2em;
    font-weight:bold;
    margin-top:3em;
    margin-left:10px;

}
ul {
    border:0;
    margin:0;
    padding:0;
}
#question-links li {
    border:0;margin:0; padding:0;
    font-size:11px;
    list-style:none;
}
#question-links a {
    border:solid 1px #DDDDDD;
    margin-right:2px;

}
#question-links .next-off,
#question-links .prev-off {
    color:#666666;
    float:left;
    display:block;
    font-weight:bold;
    padding:3px 4px;
    border:solid 1px #DDDDDD;
}
#question-links .next a,
#question-links .prev a{
    font-weight:bold;
    border:solid 1px #dddddd;
}
#question-links a:link,
#question-links a:visited {
    color:#0e509e;
    display:block;
    float:left;
    padding:3px 6px;
    text-decoration:none;
}
#question-links a:hover {
    border:solid 1px #666666
}
#tag-links ul {
    padding-top:10px;
}
#tag-links li {
    border:0;margin:0; padding:0;
    font-size:15px;
    list-style:none;
    padding-left:5px;
}
#tag-links a {
    border:solid 1px #DDDDDD;
    margin-right:2px;

}

#tag-links a,
#tag-links a{
    font-weight:bold;
    border:solid 2px #dddddd;
}
#tag-links a:link,
#tag-links a:visited {
    color:#012c5f;
    display:block;
    float:left;
    padding:3px 6px;
    text-decoration:none;
    font-style: normal;
    font-weight: bolder;
    font-variant: inherit;
}
#tag-links a:hover {
    border:solid 1px #666666
}

#tagbox {
    display:block;
    width:635px;
}

body {
    margin: 0px;
   
    font-family: verdana;
    font-size: 12px;
}
#shadow-container {
    position: relative;
    left: 3px;
    top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

#shadow-container .shadow2,
#shadow-container .shadow3,
#shadow-container .container {
    position: relative;
    left: -1px;
    top: -1px;
}

#shadow-container .shadow1 {
    background: #F1F0F1;
}

#shadow-container .shadow2 {
    background: #DBDADB;
}

#shadow-container .shadow3 {
    background: #B8B6B8;
}

#shadow-container .container {
    background: #ffffff;
    border: 1px solid #848284;
    padding: 10px;
}


#subheader {
border-bottom:1px solid #666666;
clear:both;
height:34px;
}
#subheader h2 {
float:left;
font-size:120%;
line-height:34px;
margin-bottom:0;
}
#subheader a {
color:#000000;
}
#tabs {
float:left;
font-weight:bold;
}
#tabs a {
background:#EEEEEE none repeat scroll 0 0;
border-left:1px solid #000000;
border-top:1px solid #000000;
border-right:1px solid #000000;
color:#777777;
display:block;
float:left;
font-size:120%;
height:24px;
line-height:22px;
margin:9px 0px 0 0;
padding:0 11px;
text-decoration:none;
}
#tabs a:hover {
background:#FFFFFF none repeat scroll 0 0;
border-color:#777777 #777777 #FFFFFF;
border-style:solid;
border-width:1px;
line-height:20px;
margin-top:9px;
color:#000000;
}
#tabs a.youarehere {
background:#FFFFFF none repeat scroll 0 0;
border-color:#777777 #777777 #FFFFFF;
border-style:solid;
border-width:1px;
color:black;
font-size:110%;
height:30px;
line-height:28px;
margin-top:3px;
padding:0 11px;
}
.tabs-question-user, .tabs-answer-user, .tabs-favorite-user {
float:right;
width:100%;
}
.tabs-question-user a, .tabs-answer-user a, .tabs-favorite-user a {
border:1px solid #CCCCCC;
color:#808185;
display:block;
float:right;
font-family:Trebuchet MS,Helvetica,sans-serif;
font-size:120%;
margin-right:3px;
padding:1px 4px 3px;
text-decoration:none;
}
.tabs-question-user a.youarehere, .tabs-answer-user a.youarehere, .tabs-favorite-user a.youarehere {
background-color:#808185;
border:1px solid #808185;
color:#FFFFFF;
font-weight:bold;
}

#mainbar {
float:left;
margin-bottom:1px;
}
#mainbar-full {
}
#mainbar-footer {
clear:both;
}

#main {
border-left:1px solid #666666;
border-bottom:1px solid #666666;
border-right:1px solid #666666;
border-top:1px solid #666666;
top:200px;
padding: 10px;
padding-bottom:25px;
}
#spacer {
height: 34px;
margin: 0px;
padding: 0px;
}