<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/preppa_tapestry</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.connection.password">winter</property>
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.search.default.directory_provider"> org.hibernate.search.store.FSDirectoryProvider </property>
    <property name="hibernate.search.default.indexBase"> ../lucene/indexes </property>
    <listener class="org.hibernate.envers.event.AuditEventListener" type="post-insert"/>
    <listener class="org.hibernate.envers.event.AuditEventListener" type="post-update"/>
    <listener class="org.hibernate.envers.event.AuditEventListener" type="post-delete"/>
    <listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-update"/>
    <listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-remove"/>
    <listener class="org.hibernate.envers.event.AuditEventListener" type="post-collection-recreate"/>
  </session-factory>
</hibernate-configuration>
